
@{
    ViewData["Title"] = "Feature";
}

@model IEnumerable<Feature>
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Features</h4>

                    <div class="table-responsive">
                        <a asp-action="Create" class="btn btn-primary">Create</a>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Suptitle</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var feature in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="~/assets/images/website-images//@feature.Image" />

                                        </td>
                                    
                                        <td>@feature.Title</td>
                                        <td>@feature.Description</td>
                                        <td>
                                            <a class="btn btn-primary" asp-action="Detail" asp-route-id="@feature.Id"> Detail </a>

                                        </td>

                                        <td>
                                            <a class="btn btn-warning" asp-action="Update" asp-route-id="@feature.Id"> Update </a>
                                        </td>

                                        <td>
                                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@feature.Id"> Delete </a>
                                        </td>
                                    </tr>

                                }



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

